/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation styles */
nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Header styles */
header {
    text-align: center;
    padding: 30px 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.featured-awards {
    text-align: center;
    margin: 20px 0;
}

.awards-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 1.2em; /* Larger text */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.awards-button:hover {
    background-color: #3e8e41; /* Darker shade on hover */
    text-decoration: none; /* No underline on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f1c4c4;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tr:nth-child(odd) {background-color: #f2f2f2;}

tr:hover {background-color: rgb(236, 213, 216);}

