<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <h1>World Cup Data Hub</h1>
        <div>
            <input type="search" placeholder="Search for teams or players">
            <button type="submit">Search</button>
        </div>
    </header>
    <h1 style="text-align: center;">Goals</h1>

    <table border="1">
        <tr>
            <th>Tournament</th>
            <th>Stage</th>  
            <th>Match</th>
            <th>Team</th>
            <th>Name</th>
            <th>Minute</th>
            <th>Match Period</th>
            <th>Own Goal</th>   
            <th>Date</th>     
        </tr>
        {% for goal in goals %}
            <tr>
                <td>{{ goal[2] }}</td>
                <td>{{ goal[6] }}</td>
                <td>{{ goal[4] }}</td>
                <td>{{ goal[7] }}</td>
                <td>
                    {% if goal[9] != 'not applicable' %}
                        {{ goal[9] ~ (' ' ~ goal[8] if goal[8] != 'not applicable' else '') }}
                    {% elif goal[8] != 'not applicable' %}
                        {{ goal[8] }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
                <td>{{ goal[10] }}</td>
                <td>{{ goal[11] }}</td>
                <td>{{ 'Yes' if goal[12] else 'No' }}</td>
                <td>{{ goal[5] }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('add_goal', match_id=goals[0][3]) }}">Add New Goal</a>

</body>
</html>
