<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tournaments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('all_tournaments') }}">Tournaments</a></li>
                <li><a href="{{ url_for('all_groups') }}">Groups</a></li>
                <li><a href="{{ url_for('all_groupst') }}">Group Standings</a></li>
                <li><a href="{{ url_for('all_teams') }}">Teams</a></li>
            </ul>
        </nav>
        <h1>World Cup Data Hub</h1>
    </header>
    <h1 style="text-align: center;">Group standings</h1>
    <table border="1">
        <tr>
            <th>Tournament</th>
            <th>Stage number</th>
            <th>Stage name</th>
            <th>Group name</th>
            <th>Count teams</th>
            <th>Position</th>
            <th>Team id</th>
            <th>Team name</th>
            <th>Team code</th>
            <th>Played</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Goals for</th>
            <th>Goals against</th>
            <th>Goals difference</th>
            <th>Points</th>
            <th>Advanced</th>
            
        </tr>
        {% for groupstt in groupst %}
        <tr>
            <td>{{ groupstt[2] }}</td>
            <td>{{ groupstt[3] }}</td>
            <td>{{ groupstt[4] }}</td>
            <td>{{ groupstt[5] }}</td>
            <td>{{ groupstt[6] }}</td>
            <td>{{ groupstt[7] }}</td>
            <td>{{ groupstt[8] }}</td>
            <td>{{ groupstt[9] }}</td>
            <td>{{ groupstt[10] }}</td>
            <td>{{ groupstt[11] }}</td>
            <td>{{ groupstt[12] }}</td>
            <td>{{ groupstt[13] }}</td>
            <td>{{ groupstt[14] }}</td>
            <td>{{ groupstt[15] }}</td>
            <td>{{ groupstt[16] }}</td>
            <td>{{ groupstt[17] }}</td>
            <td>{{ groupstt[18] }}</td>
            <td>{{ groupstt[19] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
