<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var form = document.getElementById('searchForm');
            form.addEventListener('submit', function (event) {     
                var input = document.getElementById('team_name');
                if (input.value.length > 15) {
                    alert('Team name must be shorter than 15 chars.');
                    event.preventDefault(); 
                    return;
                }              
            });
        });
    </script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <h1>World Cup Data Hub</h1>
        <div>
            <form id="searchForm" action="{{ url_for('search_team', tournament_id = tournament_id) }}" method="post">
            <input type="search" placeholder="Search for teams" id="team_name" name="team_name" style = "padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;">
            <button type="submit" class = 'button'>Search</button>
            </form>
        </div>
    </header>
    {% if tournament %}
    <h1 style="text-align: center;">{{ tournament[0][2] }}</h1> 

    <table border="1">
        <tr>
            <th>Match</th>
            <th>Stage Name</th>
            <th>Group Stage</th>
            <th>Knockout Stage</th>
            <th>Date</th>
            <th>Time</th>
            <th>Stadium</th>
            <th>City</th>
            <th>Country</th>
            <th>Score</th>
            <th>Extra Time</th>
            <th>Penalty Shootout</th>
            <th>Score Penalties</th>
        </tr>
        {% for match in tournament %}
        <tr>
            <td>{{ match[4] }}</td>
            <td>{{ match[5] }}</td>
            <td>{{ 'Yes' if match[7] else 'No' }}</td>
            <td>{{ 'Yes' if match[8] else 'No' }}</td>
            <td>{{ match[11] }}</td>
            <td>{{ match[12] }}</td>
            <td>{{ match[14] }}</td>
            <td>{{ match[15] }}</td> 
            <td>{{ match[16] }}</td>
            <td>
            {% if match[23] != '0-0' %}
                <a href="{{ url_for('goals', match_id=match[3]) }}">{{ match[23] }}</a>
            {% else %}
                {{ match[23] }}
           {% endif %}
            </td>
            <td>{{ 'Yes' if match[28] else 'No' }}</td>
            <td>{{ 'Yes' if match[29] else 'No' }}</td>
            <td>{{ match[30] }}</td> 
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p style="color: red; text-align: center;">Team you entered is not in the tournament.</p>
    {% endif %}
</body>
</html>
